.serviceImage {
  margin-right: 1rem;
}

.text {
  color: white;
  margin: 0.2rem 0;
}

.divider {
  background-color: #666;
  margin: 0;
}

.serviceContentWrapper {
  display: flex;
  justify-content: flex-start;
}

.cosmeticArrow {
  color: white;
  margin-left: auto;
}

.serviceCard {
  background: transparent;

  :hover {
    background-color: #212121;
  }

  :global(.ant-card-body) {
    padding: 0.5rem;
  }

  .serviceData {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: baseline;
  }
}
