.text {
  color: white;
  margin: 0.2rem 0;
}

.serviceTitle {
  text-transform: uppercase;
  text-align: start;
  font-size: large;
  font-weight: 700;
}

.serviceSecondaryTitle {
  text-transform: uppercase;
  text-align: start;
  font-size: medium;
  color: #777;
}
